
.gitignore
client/node_modules
client/dist
server/node_modules
server/logs
server/uploads
processmail_app
processmail_app/.dart_tool
processmail_app/build
processmail_app/.flutter-plugins
processmail_app/.flutter-plugins-dependencies
processmail_app/.packages
my-task/.tmp
